html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

.custom_container {
    margin-top:7rem;
  }
  .card{
    background-color: #D4F6FF;
  }

@media (max-width: 768px) {
   
}